<script id="user_form_content" type="text/template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Data</h3>
    </div>
    <div class="panel-body">
      <form action="" role="form-horizontal" id="add_user" enctype="multipart/form-data">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" placeholder="Required"
                   id="name" name="name" required value=""/>
          </div>
          <span class="help-inline" id="name-error"></span>
        </div>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" placeholder="Required"
                   id="email" name="email" value="" required />
          </div>
          <span class="help-inline" id="email-error"></span>
        </div>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Website</span>
            <input type="url" class="form-control"
                   placeholder="If filled, use http:// or https://."
                   id="website" name="website" pattern="https?://.+" value=""/>
          </div>
          <span class="help-inline" id="website-error"></span>
        </div>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Twitter</span>
            <input type="text" class="form-control"
                   placeholder="Twitter username without @"
                   id="twitter" name="twitter" value=""/>
          </div>
        </div>

        <div class="form-group">
          <label for="label-email-updates">Email Updates</label>

          <div class="input-group input-group-sm">
          <span class="input-group-addon">
          <input type="checkbox" id="email_updates" name="email_updates"
                 value="Yes"/>
          </span>
            <span class="form-control">Receive project news and updates</span>
          </div>
        </div>

        <div class="form-group">
          <input style="display: none;" type="text" id="lat" name="lat"
                 value=""/>
          <input style="display: none;" type="text" id="lng" name="lng"
                 value=""/>
        </div>

        {% if not user %}
        <div class="form-group">
            <div id="recaptcha-container">
                <div id="recaptcha-widget">
                    <div id="recaptcha_image"></div>
                    <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

                    <span class="recaptcha_only_if_image">Enter the words above:</span>
                    <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

                    <input class="form-control" type="text" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="Required" />
                    <span class="help-inline" id="captcha-error"></span>

                    <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
                    <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
                    <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>

                    <div><a href="javascript:Recaptcha.showhelp()">Help</a></div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
          <div>
            <button type="button" id="submit_form" class="btn btn-primary">
              Done!
            </button>
            <button type="button" id="cancel_form" class="btn btn-default">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
